<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pronto</title>
    {{ webpack_asset_tags('css/app') | raw }}
</head>
<body>
    <div id="app">
        <app/>
    </div>
    {{ webpack_asset_tags('js/app') | raw }}
</body>
</html>
