form {
  > div {
    margin: 0 0 15px 0;

    ul {
      color: #F44336;

      &.message-inconsistent {
        color: $secondary-color;
      }
    }
  }

  .row {
    &.select-option {
      margin-bottom: 0;
    }
  }

  input[type="checkbox"]:checked + label:before {
    border-right-color: $checkbox-checked-color;
    border-bottom-color: $checkbox-checked-color;
  }

  input[type="checkbox"].filled-in:checked + label:after {
    border-color: $checkbox-checked-color;
    background-color: $checkbox-checked-color;
  }

  input[type=text], input[type=number], input[type=search], input[type=url], input[type=password], input[type=email], textarea.materialize-textarea {
    &:not(.browser-default) {
      box-shadow: none !important;
      border: 1px solid #dae3e7 !important;
      border-radius: 5px !important;
      padding: 5px !important;
      box-sizing: border-box !important;

      &:not(.jscolor) {
        background-color: #f7f9fa !important;
      }

      &:focus {
        background-color: #edf2f4 !important;
        border: 1px solid #c3d2d8 !important;
      }

      &.invalid {
        box-shadow: 0 1px 0 0 #F44336 !important;
      }
    }
  }


  /**
  Materialize select overrides
   */
  .select-wrapper {
    span.caret {
      z-index: 1;
      right: 10px;
      color: $side-nav-background;
    }
  }


  /**
  SELECT 2 Styling overrides
   */
  .select2-selection {
    height: auto !important;
    background-color: #f7f9fa !important;
    box-shadow: none !important;
    border:1px solid #dae3e7 !important;
    border-radius: 5px !important;
    padding: 5px !important;
    box-sizing: border-box !important;

    &.select2-selection--multiple {
      cursor: pointer !important;

      ul li {
        color: $black !important;

        input[type="search"] {
          border: none !important;
          border-radius: 0 !important;
          padding: 0 !important;
          background-color: transparent !important;
          height: auto !important;
          margin: 0 !important;
          line-height: 35px;
        }
      }
    }
  }

  .select2-selection__arrow {
    height: 40px !important;
  }
}

span.select2-dropdown {
  border-color: #dae3e7 !important;

  span.select2-search {
    padding: 15px 15px 0 15px;

    input[type="search"] {
      border-color: #dae3e7 !important;
      padding: 5px !important;
      width: calc(100% - 10px);
    }
  }
}

label {
  font-size: 16px;

  &.label-left {
    font-weight: bold;
    line-height: 36px;
  }

  &.required:not(.no-asterisk)::after {
    content: ' *';
  }
}

.btn-flat {
  &.btn-text-red {
    color: #F44336;
  }
}
