#impersonating {
  $top-nav-height: 60px;

  flex: 0 0 $top-nav-height;
  background-color: #F4004D;
  border-bottom: 2px solid #C3003D;
  z-index: 1;
  text-align: center;
  line-height: $top-nav-height;
  color: #ffffff;
  font-size: 16px;
}