// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Nunito|Quicksand');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'components/components';
@import 'libraries/fontawesome';

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  overflow: hidden;
}

#app {
  height: 100%;
  overflow: hidden;

  > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > header {
      flex: 0 0 65px;
      background-color: #ffffff;
      box-shadow: 0 8px 8px -8px rgba(136, 152, 170, .15);

      .container-fluid,
      .container-fluid .row,
      .container-fluid .row div[class^="col"] {
        height: 100%;
      }
    }

    > main {
      flex: auto;
      position: relative;
      display: flex;
      flex-direction: row;
      overflow: hidden;

      > aside {
        background-color: #ffffff;
        flex: 0 0 250px;
        overflow-y: scroll;
        box-shadow: 8px 0 8px -8px rgba(136, 152, 170, .15);

        &::-webkit-scrollbar {
          display: none;
        }
      }

      @media (max-width: 575.98px) {
        > aside {
          position: absolute;
          top: 0;
          left: -85%;
          height: 100vh;
          width: 85%;
          flex: none;
          z-index: 2;
          transition: left 0.2s ease;

          &.open {
            left: 0;
          }

          .container-fluid {
            .row {
              .col-auto {
                a {
                  display: block;
                  font-size: 20px;
                  margin-top: 16px;
                  height: 38px;
                  width: 20px;
                  line-height: 38px;
                  text-align: center;
                  color: var(--link-color);
                }
              }
            }
          }
        }
      }

      > main {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        position: relative;

        > header {
          position: relative;
          flex: 0 0 150px;
        }

        > main {
          flex: 1 0 auto;
          overflow-y: auto;
          padding: 40px;
        }

        > footer {
          flex: 0 0 50px;
        }
      }

      @media (max-width: 575.98px) {
        > main {
          > header {
            //
          }

          > main {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}
