// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Nunito|Quicksand');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'components/components';

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  //font-family: $default-font-family;
}

#app {
  height: 100%;

  > div {
    height: 100%;
    width: 100%;

    #template-admin {
      height: 100%;
      display: flex;
      flex-direction: row;

      > aside {
        flex: 0 0 250px;
        overflow-y: scroll;
        background-color: #ffffff;
        box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);

        &::-webkit-scrollbar {
          display: none;
        }

        header {
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: bold;
          text-align: center;
          padding-top: 16px;
          font-size: 24px;
          position: relative;

          &:after {
            position: absolute;
            bottom: 0;
            left: 20px;
            width: calc(100% - 40px);
            height: 1px;
            background-color: var(--primary-color);
            content: '';
          }
        }

        > main {
          @import 'layouts/sidebar';
        }
      }

      @media (max-width: 575.98px) {
        > aside {
          position: absolute;
          top: 0;
          left: -85%;
          height: 100vh;
          width: 85%;
          flex: none;
          z-index: 2;
          transition: left 0.2s ease;

          &.open {
            left: 0;
          }

          .container-fluid {
            .row {
              .col-auto {
                a {
                  display: block;
                  font-size: 20px;
                  margin-top: 16px;
                  height: 38px;
                  width: 20px;
                  line-height: 38px;
                  text-align: center;
                  color: var(--link-color);
                }
              }
            }
          }
        }
      }

      > main {
        flex: auto;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        position: relative;

        > header {
          position: fixed;
          width: calc(100% - 250px);
          z-index: 0;
          right: 0;

          div[class^="col"] {
            padding-top: 20px;

            a {
              cursor: pointer;
              font-size: 18px;
              color: var(--contrast-color);
            }

            &.dashboard-link {
              padding-left: 55px;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-weight: bold;
              text-decoration: none;

              a:hover {
                text-decoration: none;
              }
            }

            &:last-of-type {
              padding-right: 55px;
            }
          }

          &:before {
            position: fixed;
            z-index: -1;
            top: 0;
            right: 0;
            width: calc(100% - 250px);
            height: 250px;
            content: '';
            background: linear-gradient(87deg, var(--primary-color) 0, var(--primary-color-dark) 100%);
          }
        }

        > main {
          flex: 1 0 auto;
          overflow-y: auto;
          padding: 115px 40px 40px 40px;
        }

        > footer {
          flex: 0 0 50px;
        }
      }

      @media (max-width: 575.98px) {
        > main {
          > header {
            width: 100%;

            &:before {
              width: 100%;
            }

            div[class^="col"] {
              &.dashboard-link {
                padding-left: 10px !important;
              }

              &:last-of-type {
                padding-right: 15px;
              }
            }
          }

          > main {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }

    #template-front {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
