.modal {
  overflow: visible;

  &#modal-small {
    width: 40%;
    height: 80%;
  }

  &#modal-medium {
    width: 60%;
    height: 80%;
  }

  &#modal-large {
    width: 80%;
    height: 80%;
  }

  .modal-header {
    height: 60px;
    padding: 0 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    h1 {
      height: 60px;
      line-height: 60px;
      font-size: 20px;
      padding: 0 10.875px;
    }
  }

  .modal-content {
    top: 60px;
    height: calc(100% - 116px);

    .progress {
      position: fixed !important;
      bottom: 56px;
      top: auto;
    }

    table {
      background-color: transparent;

      &.striped > tbody > tr:nth-child(odd) {
        background-color: #ffffff;
      }
    }
  }

  .modal-footer {
    margin: 0;
  }
}