ul.tabs {
  li.tab {
    a {
      .fa {
        display: none;
      }
    }

    &.invalid {
      a {
        .fa.fa-exclamation-circle {
          display: inline;
        }
      }
    }

    &.inconsistent {
      a {
        .fa.fa-exclamation-triangle {
          display: inline;
        }
      }
    }
  }
}