#top-nav {
  $top-nav-height: 60px;

  flex: 0 0 $top-nav-height;
  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;
  z-index: 1;

  ul {
    position: relative;
    float: right;
    list-style: none;
    height: 100%;
    width: auto;
    margin: 0;

    li {
      position: relative;
      float: left;
      height: 100%;
      margin: 0;

      a {
        display: block;
        padding: 0 15px;
        height: 100%;
        line-height: $top-nav-height;
        text-decoration: none;
        color: darken($body-background, 20);
        font-size: 16px;
        transition: color 0.2s ease, background-color 0.2s ease;

        i {
          font-size: 20px;
        }

        &.active {
          color: $primary-color;
          background-color: darken($body-background, 2);
        }

        &:not(.active):hover {
          color: $primary-color;
          background-color: darken($body-background, 2);
        }
      }
    }


    &:nth-child(1) {
      float: left;

      li {
        a {
          &.disabled {
            pointer-events: none;
            cursor: default;
          }

          i {
            font-size: 16px;
          }
        }
      }
    }
  }

  #avatar {
    height: 54px;
    width: 54px;
    position: relative;
    float: right;
    padding: 5px;
    margin: 23px 20px;
    border: 2px solid $primary-color;
    border-radius: 50%;
  }
}