@import '~trumbowyg/dist/ui/trumbowyg.min.css';

.trumbowyg-box {
  margin-top: 0;
}

.trumbowyg-modal-box label {
  height: 29px !important;
  line-height: 29px !important;

  input {
    position: absolute;
    top: 0;
    right: 0;
    height: 27px !important;
    line-height: 27px !important;
    border: 1px solid #DEDEDE !important;
    background: #fff !important;
    font-size: 14px !important;
    max-width: 330px !important;
    width: 70% !important;
    padding: 0 7px !important;

    &:hover,
    &:focus {
      outline: none;
      border: 1px solid #95a5a6;
    }
  }

  span {
    height: 29px !important;
  }
}