{% extends '@ProntoMobile/base.html.twig' %}

{% block body %}
    <div id="vue-app">
        <translations-index :languages="{{ pronto_mobile.application.availableLanguages|json_encode() }}"></translations-index>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
