.el-button {
  letter-spacing: .025em;
  text-transform: none;
  will-change: transform;
  font-weight: 600;
  //background: linear-gradient(87deg, var(--primary-color) 0, var(--primary-color-dark) 100%);

  &:not(.el-button--text) {
    transition: all .15s ease;
    text-transform: none;
    will-change: transform;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

    &.el-button--primary {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      color: var(--contrast-color);
    }

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);

      &.el-button--primary {
        background-color: var(--primary-color-dark);
        border-color: var(--primary-color-dark);
      }
    }
  }

  &.el-button--text {
    color: var(--link-color);

    &:hover {
      color: var(--link-color-dark);
    }
  }

  &.el-button--sm {
    padding: .25rem .5rem;
  }
}
