@import '../mixins';

.card {
  @include default-box-shadow();
  @include default-border-radius();
  margin-bottom: 40px !important;
  border: 0;

  .el-tabs {
    .el-tabs__header {
      margin-top: 10px;

      .el-tabs__nav-wrap {
        padding: 0 20px;

        .el-tabs__item {
          font-size: 16px;

          &.is-active {
          }
        }
      }
    }

    .el-tabs__content {
      overflow: visible;
    }
  }

  .card-header {
    background-color: transparent;
    border: 0;
  }

  .card-body {

  }

  .card-code {
    padding: 20px;
    //background-color: $gray-700;
    //border-left: 5px solid $gray-400;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    pre {
      //color: $gray-300;
    }
  }

  .card-footer {
    background-color: transparent;
    border: 0;
  }

  .card-table {
    .table-container::-webkit-scrollbar {
      display: none;
    }
  }
}
