.el-select-dropdown__item.is-disabled.cursor-default {
  cursor: default !important;
}

@mixin input-style() {
  transition: all .2s ease;
  border: 1px solid #EBEEF5;
  box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02) !important;
  background-color: #f7fafc !important;
  border-radius: 2px !important;
}

@mixin input-style-hover() {
  border-color: #C0C4CC;
}

@mixin input-style-focused() {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !important;
  border-color: var(--primary-color) !important;
}

@mixin input-style-invalid() {
  border-color: var(--danger);
}

@mixin with-checkbox-background() {
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23fff' d='M504.5 75.5c-10-10-26.2-10-36.2 0L161.6 382.2 43.7 264.3c-10-10-26.2-10-36.2 0 -10 10-10 26.2 0 36.2l136 136c10 10 26.2 10 36.2 0L504.5 111.7C514.5 101.7 514.5 85.5 504.5 75.5z'/></svg>") !important;
}

label {
  font-weight: 600;
}

.form-group {

  label {
    font-weight: 500;

    &.form-check-label {
      display: inline-block;
      position: relative;
      cursor: pointer;
      padding-left: 30px;
      line-height: 18px;
      height: 18px;
      margin-bottom: 0;
      transition: color 0.2s linear;

      &.disabled {
        cursor: not-allowed;
      }

      input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        visibility: hidden;
      }

      span.form-check-sign {
        &:before {
          border-radius: 2px !important;
          transition: all .2s ease !important;
          box-shadow: none !important;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 18px !important;
          height: 18px !important;
          content: '';
          background-color: #f7fafc;
          border: 1px solid #EBEEF5;
        }

        &:after {
          position: absolute;
          top: 4px !important;
          left: 4px !important;
          display: block;
          width: 11px !important;
          height: 11px !important;
          content: '';
        }
      }

      input[type="checkbox"]:checked + span.form-check-sign {
        &::before {
          border-color: var(--primary-color) !important;
          background-color: var(--primary-color) !important;
          color: #fff;
        }

        &:after {
          @include with-checkbox-background();
        }
      }

      input[type="checkbox"]:disabled + span.form-check-sign {
        &::before {
          border-color: #e4e7ed;
          background-color: #f5f7fa;
        }
      }

      input[type="checkbox"]:disabled:checked + span.form-check-sign {
        &:after {
          @include with-checkbox-background();
        }
      }
    }

    &:hover {
      &.form-check-label:not(.disabled) {
        span.form-check-sign {
          &:before {
            border-color: var(--primary-color);
          }
        }
      }
    }
  }

  .el-input, .el-select, {
    .el-input__inner {
      @include input-style();

      &:focus {
        @include input-style-focused();
      }
    }

    &.is-invalid {
      .el-input__inner {
        &.is-invalid {
          @include input-style-invalid();
        }
      }
    }

    &:hover {
      .el-input__inner {
        @include input-style-hover();
      }
    }
  }

  .vue-editor {
    @include input-style();

    &.vue-editor-focused {
      @include input-style-focused();
    }

    &.is-invalid {
      @include input-style-invalid();
    }

    &:hover {
      @include input-style-hover();
    }
  }
}

.el-textarea {
  .el-textarea__inner {
    resize: none;
  }

  &.el-input--small {
    .el-textarea__inner {
      padding: 5px 8px;
    }
  }

  &.toggleable {
    .el-textarea__inner {
      border-color: transparent;
      background-color: transparent;
      transition: border-color 0.1s ease, background-color 0.1s ease;

      &:hover {
        border-color: #DDDFE6;
        background-color: #DDDFE6;
      }

      &:focus {
        border-color: #409EFF;
        background-color: #ffffff;
      }
    }
  }
}
